<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Config>
    <config>
		<entry xsi:type="myHashMapEntryTypeObject" key="enabled" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">true</value>
        </entry>
        <entry xsi:type="myHashMapEntryTypeObject" key="defaultConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<value xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">default</value>
        </entry>
    </config>
</Config>
