/MARS_NB/MARS/nbproject/private/
/MARS_NB/MARS/Forester/build/
/MARS_NB/MARS/AbsoluteLayout/build/
/MARS_NB/MARS/MARSCore/build/
/MARS_NB/MARS/jMonkeyEngineCore/build/
/MARS_NB/MARS/build/
/MARS_NB/MARS/JMonkeyOculusRift/build/
/MARS_NB/MARS/ShaderBlow/build/
/MARS_NB/MARS/VolumetricLighting/build/
/MARS_NB/MARS/objenesis/build/
/MARS_NB/MARS/commons-httpclient/build/
/MARS_NB/MARS/cloning/build/
/MARS_NB/MARS/commons-codec/build/
/MARS_NB/MARS/commons-logging/build/
/MARS_NB/MARS/guava/build/
/MARS_NB/MARS/commons-pool/build/
/MARS_NB/MARS/jME3-utilities/build/
/MARS_NB/MARS/jMonkeyEngine/build/
/MARS_NB/MARS/jfreechart/build/
/MARS_NB/MARS/jchart2d/build/
/MARS_NB/MARS/rosjava/build/
/MARS_NB/MARS/netty/build/
/MARS_NB/MARS/xbill/build/
/MARS_NB/MARS/swingx/build/
/MARS_NB/MARS/MARSCore.Assets/build/
/MARS_NB/MARS/MARSCore.config/build/
/MARS_NB/MARS/FatCowIcons/build/
/MARS_NB/MARS/FugueIcons/build/
/MARS_NB/MARS/SekkyumuIcons/build/
/MARS_NB/MARS/GRAL/build/
/MARS_NB/MARS/RealSlimShader/build/
/MARS_NB/MARS/AUVTree/build/
/MARS_NB/MARS/AUVEditor/build/
/MARS_NB/MARS/TestModule_LookupTopComponent/build/
/MARS_NB/MARS/WaterEffects/build/
/MARS_NB/MARS/TestModule_NewActuator/build/
/MARS_NB/MARS/TestModule_NewAUV/build/
/MARS_NB/MARS/TestModule_NewSensor/build/
/MARS_NB/MARS/SwarmSimulation/build/
/MARS_NB/MARS/MARSCore/nbproject/private/
/MARS_NB/MARS/*.log
/MARS_NB/MARS/*.lck
/MARS_NB/MARS/*.log.*
/MARS_NB/MARS/MARSCore/*.log
/MARS_NB/MARS/MARSCore/*.lck
/MARS_NB/MARS/MARSCore/*.log.*