<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Settings>
    <settings>
        <entry xsi:type="myHashMapEntryTypeHashMap" key="Physics" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <value>
                <entry xsi:type="myHashMapEntryTypeObject" key="speed">
                    <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">1.0</value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeObject" key="debug">
                    <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">false</value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeObject" key="framerate">
                    <value xsi:type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema">60</value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeObject" key="maxsubsteps">
                    <value xsi:type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema">32</value>
                </entry>
            </value>
        </entry>
        <entry xsi:type="myHashMapEntryTypeHashMap" key="Misc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <value>
                <entry xsi:type="myHashMapEntryTypeHashMap" key="Camera">
                    <value>
                        <entry xsi:type="myHashMapEntryTypeObject" key="FlyCamMoveSpeed">
                            <value xsi:type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema">10</value>
                        </entry>
						<entry xsi:type="myHashMapEntryTypeObject" key="ChaseCamZoomSensitivity">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">0.5</value>
                        </entry>
						<entry xsi:type="myHashMapEntryTypeVector3F" key="DefaultPosition">
                            <value>
                                <x>15.0</x>
                                <y>10.0</y>
                                <z>0.0</z>
                            </value>
                        </entry>
						<entry xsi:type="myHashMapEntryTypeVector3F" key="DefaultRotation">
                            <value>
                                <x>0.0</x>
                                <y>0.0</y>
                                <z>0.0</z>
                            </value>
                        </entry>
                    </value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeHashMap" key="Record">
                    <value>
                        <entry xsi:type="myHashMapEntryTypeObject" key="enabled">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">false</value>
                        </entry>
                    </value>
                </entry>
				<entry xsi:type="myHashMapEntryTypeObject" key="headless">
                    <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">false</value>
                </entry>
            </value>
        </entry>
        <entry xsi:type="myHashMapEntryTypeHashMap" key="Gui" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <value>
                <entry xsi:type="myHashMapEntryTypeColorRGBA" key="collisionColor">
                    <value>
                        <a>1.0</a>
                        <b>0.0</b>
                        <g>0.0</g>
                        <r>1.0</r>
                    </value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeColorRGBA" key="selectionColor">
                    <value>
                        <a>1.0</a>
                        <b>0.0</b>
                        <g>0.843</g>
                        <r>1.0</r>
                    </value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeObject" key="GlowSelection">
                    <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">false</value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeObject" key="AmbientSelection">
                    <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">true</value>
                </entry>
				<entry xsi:type="myHashMapEntryTypeObject" key="PopUpAUVName">
                    <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">true</value>
                </entry>
				<entry xsi:type="myHashMapEntryTypeObject" key="PopUpAUVNameDistance">
                    <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">30.0</value>
                </entry>
				<entry xsi:type="myHashMapEntryTypeObject" key="MouseUpdateFollow">
                    <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">false</value>
                </entry>
            </value>
        </entry>
        <entry xsi:type="myHashMapEntryTypeHashMap" key="Graphics" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <value>
                <entry xsi:type="myHashMapEntryTypeHashMap" key="Flow">
                    <value>
                        <entry xsi:type="myHashMapEntryTypeObject" key="forceScale">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">20.0</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="MapX">
                            <value xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">flow_x.png</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeVector3F" key="position">
                            <value>
                                <x>-7.0</x>
                                <y>-2.0</y>
                                <z>0.0</z>
                            </value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeVector3F" key="scale">
                            <value>
                                <x>0.15625</x>
                                <y>0.01176</y>
                                <z>0.15625</z>
                            </value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="enabled">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">false</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="MapY">
                            <value xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">flow_y.png</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeVector3F" key="rotation">
                            <value>
                                <x>0.0</x>
                                <y>0.0</y>
                                <z>0.0</z>
                            </value>
                        </entry>
                    </value>
                </entry>
				<entry xsi:type="myHashMapEntryTypeHashMap" key="Pollution">
                    <value>
                        <entry xsi:type="myHashMapEntryTypeObject" key="scaleFactor">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">20.0</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="pollutionMap">
                            <value xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">pollution.png</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeVector3F" key="position">
                            <value>
                                <x>-7.0</x>
                                <y>-2.0</y>
                                <z>0.0</z>
                            </value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeVector3F" key="scale">
                            <value>
                                <x>0.15625</x>
                                <y>0.01176</y>
                                <z>0.15625</z>
                            </value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="enabled">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">false</value>
                        </entry>
						<entry xsi:type="myHashMapEntryTypeObject" key="visible">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">false</value>
                        </entry>
						<entry xsi:type="myHashMapEntryTypeObject" key="detectable">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">false</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeVector3F" key="rotation">
                            <value>
                                <x>0.0</x>
                                <y>0.0</y>
                                <z>0.0</z>
                            </value>
                        </entry>
                    </value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeHashMap" key="Axis">
                    <value>
                        <entry xsi:type="myHashMapEntryTypeObject" key="enabled">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">false</value>
                        </entry>
                    </value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeHashMap" key="SkyBox">
                    <value>
                        <entry xsi:type="myHashMapEntryTypeObject" key="filepath">
                            <value xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">skytest.dds</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="enabled">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">true</value>
                        </entry>
                    </value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeHashMap" key="Resolution">
                    <value>
                        <entry xsi:type="myHashMapEntryTypeObject" key="height">
                            <value xsi:type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema">480</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="width">
                            <value xsi:type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema">640</value>
                        </entry>
                    </value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeHashMap" key="SkyDome">
                    <value>
                        <entry xsi:type="myHashMapEntryTypeObject" key="enabled">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">true</value>
                        </entry>
						<entry xsi:type="myHashMapEntryTypeObject" key="speed">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">100.0</value>
                        </entry>
						<entry xsi:type="myHashMapEntryTypeObject" key="direction">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">1.0</value>
                        </entry>
						<entry xsi:type="myHashMapEntryTypeObject" key="cloudiness">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">0.5</value>
                        </entry>
						<entry xsi:type="myHashMapEntryTypeObject" key="cloudRate">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">1.0</value>
                        </entry>
						<entry xsi:type="myHashMapEntryTypeObject" key="cloudModulation">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">false</value>
                        </entry>
						<entry xsi:type="myHashMapEntryTypeObject" key="hour">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">5.7</value>
                        </entry>
						<entry xsi:type="myHashMapEntryTypeObject" key="observerLatitude">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">0.8932385672196739</value>
                        </entry>
						<entry xsi:type="myHashMapEntryTypeObject" key="lunarDiameter">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">0.0092</value>
                        </entry>
						<entry xsi:type="myHashMapEntryTypeObject" key="solarLongitude">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">0.0</value>
                        </entry>
						<entry xsi:type="myHashMapEntryTypeObject" key="lunarPhase">
                            <value xsi:type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema">0</value>
                        </entry>
                    </value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeHashMap" key="PlaneWater">
                    <value>
                        <entry xsi:type="myHashMapEntryTypeObject" key="filepath">
                            <value xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">water_2.png</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="enabled">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">true</value>
                        </entry>
                    </value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeHashMap" key="WireFrame">
                    <value>
                        <entry xsi:type="myHashMapEntryTypeObject" key="enabled">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">false</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeColorRGBA" key="color">
                            <value>
                                <a>0.0</a>
                                <b>0.0</b>
                                <g>0.0</g>
                                <r>1.0</r>
                            </value>
                        </entry>
                    </value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeHashMap" key="Shadow">
                    <value>
                        <entry xsi:type="myHashMapEntryTypeObject" key="enabled">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">true</value>
                        </entry>
                    </value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeHashMap" key="Grass">
                    <value>
                        <entry xsi:type="myHashMapEntryTypeObject" key="enabled">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">false</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="fadingRange">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">10.0</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="farViewingDistance">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">50.0</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="pagesizeResolution">
                            <value xsi:type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema">4</value>
                        </entry>
                    </value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeHashMap" key="SimpleSkyBox">
                    <value>
                        <entry xsi:type="myHashMapEntryTypeObject" key="enabled">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">false</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeColorRGBA" key="color">
                            <value>
                                <a>0.0</a>
                                <b>0.99607843</b>
                                <g>0.8</g>
                                <r>0.45490196</r>
                            </value>
                        </entry>
                    </value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeObject" key="FrameLimit">
                    <value xsi:type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema">60</value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeHashMap" key="Fog">
                    <value>
                        <entry xsi:type="myHashMapEntryTypeObject" key="enabled">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">false</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeColorRGBA" key="color">
                            <value>
                                <a>1.0</a>
                                <b>0.9411765</b>
                                <g>0.4745098</g>
                                <r>0.05882353</r>
                            </value>
                        </entry>
                    </value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeHashMap" key="Water">
                    <value>
                        <entry xsi:type="myHashMapEntryTypeObject" key="enabled">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">false</value>
                        </entry>
                    </value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeHashMap" key="DepthOfField">
                    <value>
                        <entry xsi:type="myHashMapEntryTypeObject" key="FocusRange">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">5.0</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="BlurScale">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">2.5</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="enabled">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">false</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="Density">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">4.0</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="Distance">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">90.0</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="FocusDistance">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">5.0</value>
                        </entry>
                    </value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeHashMap" key="FPS">
                    <value>
                        <entry xsi:type="myHashMapEntryTypeObject" key="enabled">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">true</value>
                        </entry>
                    </value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeHashMap" key="Grid">
                    <value>
                        <entry xsi:type="myHashMapEntryTypeVector3F" key="position">
                            <value>
                                <x>0.0</x>
                                <y>0.0</y>
                                <z>0.0</z>
                            </value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="enabled">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">false</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="SizeX">
                            <value xsi:type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema">100</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeColorRGBA" key="color">
                            <value>
                                <a>0.0</a>
                                <b>1.0</b>
                                <g>1.0</g>
                                <r>1.0</r>
                            </value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeVector3F" key="rotation">
                            <value>
                                <x>0.0</x>
                                <y>0.0</y>
                                <z>0.0</z>
                            </value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="SizeY">
                            <value xsi:type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema">100</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="LineDistance">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">1.0</value>
                        </entry>
                    </value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeHashMap" key="ProjectedWavesWater">
                    <value>
                        <entry xsi:type="myHashMapEntryTypeObject" key="enabled">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">false</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="Scalexsmall">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">0.04</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="Speedbig">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">0.5</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="Scaleybig">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">0.1</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="Heightsmall">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">0.25</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="Scaleysmall">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">0.02</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="Heightbig">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">0.01</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="Scalexbig">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">0.03</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="Speedsmall">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">1.0</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="Octaves">
                            <value xsi:type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema">0</value>
                        </entry>
                    </value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeHashMap" key="Light">
                    <value>
                        <entry xsi:type="myHashMapEntryTypeObject" key="enabled">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">true</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeColorRGBA" key="color">
                            <value>
                                <a>1.0</a>
                                <b>1.0</b>
                                <g>1.0</g>
                                <r>1.0</r>
                            </value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeColorRGBA" key="ambientColor">
                            <value>
                                <a>0.2</a>
                                <b>0.8</b>
                                <g>0.8</g>
                                <r>0.8</r>
                            </value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeVector3F" key="direction">
                            <value>
                                <x>0.0</x>
                                <y>-1.0</y>
                                <z>0.0</z>
                            </value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="ambient">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">false</value>
                        </entry>
                    </value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeHashMap" key="CrossHairs">
                    <value>
                        <entry xsi:type="myHashMapEntryTypeObject" key="enabled">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">false</value>
                        </entry>
                    </value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeHashMap" key="WavesWater">
                    <value>
                        <entry xsi:type="myHashMapEntryTypeObject" key="enabled">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">false</value>
                        </entry>
                    </value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeHashMap" key="Terrain">
                    <value>
                        <entry xsi:type="myHashMapEntryTypeVector3F" key="position">
                            <value>
                                <x>-7.0</x>
                                <y>-2.0</y>
                                <z>0.0</z>
                            </value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeVector3F" key="scale">
                            <value>
                                <x>1.369863013698630136986301369863</x>
                                <y>0.01176</y>
                                <z>1.369863013698630136986301369863</z>
                            </value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="enabled">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">true</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeVector3F" key="rotation">
                            <value>
                                <x>0.0</x>
                                <y>0.0</y>
                                <z>0.0</z>
                            </value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="advanced">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">true</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="lod">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">true</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="tileLength">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">1.369863013698630136986301369863</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="HeightMap">
                            <value xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">kleinersee_hm2.png</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="ColorMap">
                            <value xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">kleinersee_cm.png</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="AlphaMap">
                            <value xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">kleinersee_am2.png</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="tileHeigth">
                            <value xsi:type="xs:float" xmlns:xs="http://www.w3.org/2001/XMLSchema">85.0</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="patchSize">
                            <value xsi:type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema">32</value>
                        </entry>
                    </value>
                </entry>
            </value>
        </entry>
        <entry xsi:type="myHashMapEntryTypeHashMap" key="Server" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <value>
                <entry xsi:type="myHashMapEntryTypeHashMap" key="RAW">
                    <value>
                        <entry xsi:type="myHashMapEntryTypeObject" key="port">
                            <value xsi:type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema">8080</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="enabled">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">false</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="OutputStreamSize">
                            <value xsi:type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema">1228100</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="backlog">
                            <value xsi:type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema">10</value>
                        </entry>
                    </value>
                </entry>
                <entry xsi:type="myHashMapEntryTypeHashMap" key="ROS">
                    <value>
                        <entry xsi:type="myHashMapEntryTypeObject" key="enabled">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">false</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="localip">
                            <value xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">141.83.158.154</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="masterip">
                            <value xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema">141.83.158.218</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="publish">
                            <value xsi:type="xs:boolean" xmlns:xs="http://www.w3.org/2001/XMLSchema">true</value>
                        </entry>
                        <entry xsi:type="myHashMapEntryTypeObject" key="masterport">
                            <value xsi:type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema">11311</value>
                        </entry>
						<entry xsi:type="myHashMapEntryTypeObject" key="GlobalQueueSize">
                            <value xsi:type="xs:int" xmlns:xs="http://www.w3.org/2001/XMLSchema">10</value>
                        </entry>
                    </value>
                </entry>
            </value>
        </entry>
    </settings>
</Settings>
