/* Admin styles */

.bwbps_admintable select, .bwbps_admintable input , .bwbps_admintable textarea{
	width: 215px !important;
}

.bwbps_toggle_box{
	clear:right;
	cursor:default;
	float:right;
	height: 14px;
	margin:1px 0 0;
	padding:1px 0 0;
	width: 14px;
}

.bwbps_imgbox{
	float: left;
	height:140px;
	width:125px;
	background-color: white;
	margin: 5px;
	border: 1px solid #f0f0f0;

}

.bwbps_imgbox div{
	font-size: 10px;
	line-height: 1.2em;
}

.bwbps_theimage{
	height:100px;
	margin:10px auto 2px;
	width:95px;
}

.bwbps-sel{

	background-color: #C7EFB3;

}

.ps_clickmsg {
	color: #ff7700;
}

ul.bwbps_gallery, ul.bwbps_gallery li
{
	list-style: none !important;
	padding: 0;
	margin: 0;
}

ul.bwbps_gallery li{
	text-align: center;
	display: block;
	float: left;
	margin-top: 15px;
} 

.bwbps_clear{
	clear: both; 
}

.bwbps_gallery_container0{
	margin: 15px;
	_margin-left: 0px;
}

.bwbps_gallery_div{
	background:#222;
	border:1px solid #ddd;
	border-color:#888 #000 #000 #888;
	margin: 15px;
	_margin-left: 0px;
}

.bwbps_gallery_div li, .bwbps_gallery_container0 li{
	text-align: center;
}

.bwbps_gallery_div div, .bwbps_gallery_container0 div{
	margin: auto;
	*margin: 0px;
}

.bwbps_gallery_div a{
	color: #fff;
}

.bwbps_gallery_div a:hover{
	color: #fff;
	text-decoration: underline;
}

.bwbps_gallery_div table, .bwbps_gallery_container0 table {
	width: 100%;
}

.bwbps_gallery_div{
	color: #fff;
}

.bwbps_galid {
	float: right;
	color: #fff;
}

.photoform a, .photoform a:visited{
	font-size: 12px !important;
	color: #0066ff !important;
}

.bwbps_caption{
	font-size: 11px;
}

div.bwbps_pagination{
	clear: both;
	margin: 5px auto;
	text-align: center;
}

.bwbps_pagination a {
	color: #fff;
	padding: 3px 7px;
	border: 1px;
	margin: 2px;
	border: 1px solid #c5c5c5;	
}


.bwbps_pagination a:hover{
	background-color: #0066ff;
	color: #fff;
	text-decoration: none;
}


.bwbps_pagination span {
	color: #fff;
	font-weight: bold;
	padding: 3px 7px;
	border: 1px;
	margin: 2px;
}

div.bwbps_pag_2{
	clear: both;
	margin: 5px auto;
	text-align: center;
}

.bwbps_pag_2 a {
	color: #777;
	padding: 3px 7px;
	border: 1px;
	margin: 2px;
	border: 1px solid #a0a0a0;	
}


.bwbps_pag_2 a:hover{
	background-color: #444;
	color: #fff;
	text-decoration: none;
}


.bwbps_pag_2 span {
	color: #777;
	font-weight: bold;
	padding: 3px 7px;
	border: 1px;
	margin: 2px;
}

.bwbps_image_div {
	
	position: relative;

}

.bwbps-top-left {
	position: absolute;
	left: 2px;
	top: 2px;
}

.bwbps-top-right {
	position: absolute;
	right: 2px;
	top: 2px;
}

.bwbps-top-midright {
	position: absolute;
	right: 94px;
	top: 2px;
}

.bwbps-bottom-left {
	position: absolute;
	left: 2px;
	bottom: 2px;
}

.bwbps-bottom-right {
	position: absolute;
	right: 2px;
	bottom: 2px;
}

.bwbps-fav-container {
	z-index: 50;
	width: 18px;
}

a.bwbps-fav-link {
	display:block;
    height:22px;
    text-indent: -9999px !important;
    width:18px;
    outline: none;
}

a.bwbps-fav-0 {
	background:transparent url(images/star0.png) no-repeat;
}

a.bwbps-fav-0:hover {
	background:transparent url(images/star1.png) no-repeat;
}

.bwbps-fav-1 {
	background:transparent url(images/star1.png) no-repeat;
}



.bwbps-star, .bwbps-star a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(images/ps_ratings.png) no-repeat scroll 0 0;
}

.ps-submit input, .ps-submit {
	font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
	text-decoration: none;
	font-size: 11px !important;
	line-height: 16px;
	padding: 2px 8px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-khtml-box-sizing: content-box;
	box-sizing: content-box;
}

.ps-modbutton input, .ps-modbutton {
	font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
	text-decoration: none;
	font-size: 9px !important;
	line-height: 12px;
	padding: 2px 2px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-khtml-box-sizing: content-box;
	box-sizing: content-box;
}

.ps-form-table {
	border-collapse: collapse;
	margin-top: 0.5em;
	width: 100%;
	margin-bottom: -8px;
	clear: both;
}

.ps-form-table td {
	margin-bottom: 9px;
	padding: 4px 10px 12px;
	line-height: 20px;
	font-size: 11px;
	text-align: left;
}

.ps-form-table th {
	font-weight: normal;
	text-shadow: rgba(255,255,255,1) 0 1px 0;
	vertical-align: middle;
	text-align: left;
	padding: 4px 6px;
	width: 200px;
}

.ps-form-table input{
	border:1px solid #777;
}

.ps-moderate img {
	border: 2px solid red !important;
}

.ps-newimage img {
	border: 2px solid green !important;
}

.ps-buried img {
	border: 2px solid purple !important;
}

.ps-modmenu {
	font-size: 10px;
	color: #aaccff !important;
}

.ps-modmenu img{
	border: none !important;
	margin-left: 5px;
	vertical-align: top;
}

.form-bwbps th{
	vertical-align: top;
	text-align: left;
	padding: 10px;
	width: 130px;
}

.form-bwbps td{
	font-size: 12px;
	padding-bottom: 10px;
}

.ps-hint {
	font-size: 12px;
	color: #777;
}
/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .ui-tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .ui-tabs-nav {
        display: none;
    }
}

/* Admin Styling */
#bwbps_fileurl_table a {color: #21759B !important; }
.ps-fileurl td{
	background: #EAFFDF;
}

/* *****  Styling for Tabls borrowed from NextGeneration Gallery http://wordpress.org/extend/plugins/nextgen-gallery/ */

/* Skin */
#bwbpsslider {
	border-color:#EBEBEB rgb(204, 204, 204) rgb(204, 204, 204) rgb(235, 235, 235);
	border-style:solid;
	border-width:1px;
	margin:15px 15% 0pt 15px;
	padding:2px;
}
#bwbpstabs{
	display: block;
	background:#F1F1F1 none repeat scroll 0%;
	font-size:14px;
	overflow:hidden;
}

.ui-tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 10px;
}
.ui-tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.ui-tabs-nav li {
    float: left;
    padding: 6px 5px;
    min-width: 84px; /* be nice to Opera */
    margin: 2px 2px 0px 1px !important;
	text-decoration: none;
	list-style: none;
}
.ui-tabs-nav a, .ui-tabs-nav a span {
    display: block;
    padding: 0 1px;
}

.ui-tabs-nav a {
    margin: 1px 0 0; /* position: relative makes opacity fail for disabled tab in IE */
    padding-left: 0;
    color: #2583AD;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* required in IE 6 */    
    outline: 0; /* prevent dotted border in Firefox */
}
.ui-tabs-nav .ui-tabs-selected{
	background: #6D6D6D url(../images/menu-bits.gif) repeat-x scroll left top !important;
	border-color: #6D6D6D !important;
	color: #21759B !important;
	text-shadow:0 -1px 0 #666666 !important;

	-moz-border-radius-topright: 6px;
	-khtml-border-top-right-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-khtml-border-top-left-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
}

.ui-tabs-selected a,
.ui-tabs-selected a:hover {
	color:#fff !important;
}

.ui-tabs-nav .ui-tabs-selected a,
.ui-tabs-nav .ui-tabs-selected a:hover  {
    position: relative;
    top: 1px;
    z-index: 2;
    margin-top: 0;
}

.ui-tabs-nav li a:hover {
	color:#D54E21;
}

.ui-tabs-nav a span {
    width: 64px; /* IE 6 treats width as min-width */
    min-width: 64px;
    height: 18px; /* IE 6 treats height as min-height */
    min-height: 18px;
    padding-top: 6px;
    padding-right: 0;
}
*>.ui-tabs-nav a span { /* hide from IE 6 */
    width: auto;
    height: auto;
}
.ui-tabs-nav .ui-tabs-selected a span {
    padding-bottom: 1px;
}
.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active {
    background-position: 100% -150px;
}
.ui-tabs-nav a, .ui-tabs-nav .ui-tabs-disabled a:hover, .ui-tabs-nav .ui-tabs-disabled a:focus, .ui-tabs-nav .ui-tabs-disabled a:active {
    background-position: 100% -100px;
}
.ui-tabs-nav .ui-tabs-selected a span, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span {
    background-position: 0 -50px;
}
.ui-tabs-nav a span, .ui-tabs-nav .ui-tabs-disabled a:hover span, .ui-tabs-nav .ui-tabs-disabled a:focus span, .ui-tabs-nav .ui-tabs-disabled a:active span {
    background-position: 0 0;
}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-unselect a:hover, .ui-tabs-nav .ui-tabs-unselect a:focus, .ui-tabs-nav .ui-tabs-unselect a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.ui-tabs-disabled {
    opacity: .4;
    filter: alpha(opacity=40);
}
.ui-tabs-panel {
    border-top: 1px solid #97a5b0 !important;
    padding: 1em 8px;
    background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */

	/* overwrite wp-admin */
	border:none !important;
	height:100% !important;
	margin:0pt 0pt 0pt 0px !important;
	overflow:visible !important;
}

.ui-tabs-panel a {
	display:inline;
}


.ui-state-active {
	color: #21759B;
}

/* Additional IE specific bug fixes... */
* html .ui-tabs-nav { /* auto clear, @ IE 6 & IE 7 Quirks Mode */
    display: inline-block;
}
*:first-child+html .ui-tabs-nav  { /* @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block;
}

/* Widget CSS */

div.bwbps_image  {
float: left;
display: inline;
padding: 3px;
border: 1px #e0e0e0 solid;
border-color: #ddd #bbb #aaa #ccc;
background-color: #f5f5f5;
margin: 3px;
line-height: 1em;
}

.bwbps_image  img{
  border: 1px #ddd solid;
}
.bwbps_image img:hover{
border-color: #999;
opacity: 0.9;
}

.bwbps_relative {
	position: relative;
}

.bwbps_postlink {
	
}

div.bwbps_postlink_top_rt {
	position: absolute;
	top: 3px;
	right: 5px;
}

div.bwbps_postlink_top_lt {
	position: absolute;
	top: 3px;
	left: 5px;
}

div.bwbps_postlink_bottom_lt {
	position: absolute;
	bottom: 3px;
	left: 6px;
}

div.bwbps_postlink_bottom_rt {
	position: absolute;
	bottom: 6px;
	right: 5px;
}

.bwbps_postlink img{
	opacity: .7;
    filter: alpha(opacity=70);
    border: none !important;
}

/* Gallery Viewer */

div.bwbps_gal_view_images {
	display: table;
}

div.bwbps_galviewer {
	display: block;
	float: left;
	margin: 15px;
	text-align: center;
	padding: 0;
}

div.bwbps_galviewer_head {
	margin-bottom: 0px;
	display: block !important;
	width: 100%;
}


/* Pixoox PhotoSharing */
span.pxx-sharing { color: #449900; }
span.pxx-buried { color: #cc0000; }
span.pxx-waiting { color: #881199; }
span.pxx-not-sharing { color: #999999; }
span.pxx-not-applied { color: #000000; }

tr.pxx-sharing { background-color: #eeffdd; }
tr.pxx-buried { background-color: #FFEFEF; }
tr.pxx-waiting { background-color: #FFDFFF; }
tr.pxx-not-sharing { background-color: #f5f5f5; }
tr.pxx-not-applied { background-color: #fff; }


/* Clearing Floats */
.bwbps-toggle-ratings-clear, .bwbps-insert-box, .bwbps-piclens-clear {
	clear: both;
}

.bwbps_gmap {
	line-height: normal !important;
}