.groups .item .item-tags { margin-top: 2px; } 
/*
.item .item-tags a { color:#888; text-decoration: none; } 
.item .item-tags a:hover { color:#1FB3DD; }
*/
#gtags-results { margin-bottom:10px; font-size:140%; }
#gtags-top { width:69%; }
/* #gtags-top-cloud { display: none; } */
#gtags-toggle-top { font-weight: bold; }
.gtags-add { color: #1FB3DD; text-decoration: underline; margin-left: 2px;} 
.gtags-add:hover { cursor: pointer; }
.tags_chooser { width:75%; line-height:140%; }
.gtags-header, .gtags-header a { color: #AAA; font-size: 12px; text-decoration: none; }
.gtags-header a:hover { color:#1FB3DD; }