.bwbps-rating {
clear:both;
display:block;
margin: 0 !important;
width: 98px;
z-index: 50;
font-size: 9px;
}

.bwbps-rating-container {
	margin: 0 !important;
	padding: 2px 1px 3px 5px;
	height: 40px;
	width: 96px;
	background: none;
}


.bwbps-rating-hover {
	background:transparent url(images/rating-bkg.png) no-repeat;
}

.bwbps-rating-incaption {
	width: 96px;
	margin: auto;
}

.bwbps-rating-info {
	margin-top:8px;
	padding-left: 2px;
	padding-top: 3px;
	text-align: left;
	clear: both;
	position: relative;
}

.bwbps-rating-clearimg {
	position: absolute;
	top:	3px;
	right: 10px;
}

.bwb-top-right {
	position: absolute;
	top: 0px;
	right: -2px;
}

.bwbps-rating-toggle {
	float: right;
	margin-right: 20px;
	font-size:9px;
}

..bwbps-rating-toggle a {
	color: #ef0000;
}

.bwbps-rating:after {
clear:both;
content:'.';
display:block;
height:0;
visibility:hidden;
width:0;
}
.cancel, .bwbps-star {
cursor:pointer;
float:left;
height:15px;
overflow:hidden;
text-indent:-999em;
width:17px;
}
.bwbps-star-left, .bwbps-star-right {
width:8px;
}
.cancel, .cancel a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(images/delete.gif) no-repeat scroll 0 -16px;
}
.bwbps-star, .bwbps-star a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(images/ps_ratings.png) no-repeat scroll 0 0;
}
.bwbps-star-left, .bwbps-star-left a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(images/star-left.gif) no-repeat scroll 0 0;
}
.bwbps-star-right, .bwbps-star-right a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(images/star-right.gif) no-repeat scroll 0 0;
}
.cancel a, .bwbps-star a {
background-position:0 0;
display:block;
height:100%;
width:100%;
}
div.bwbps-rating div.bwbps-on a {
background-position:0 -16px;
}
div.bwbps-rating div.bwbps-hover a, div.bwbps-rating div a:hover {
background-position:0 -32px;
}
#content div.bwbps-rating p {
margin:0;
}

div.bwbps-norate a:hover{
	background-position:0 0 !important;
}

/* *************  VOTING *************  */

div.bwbps-voting {
clear:both;
display:block;
margin: 0 !important;
padding: 0;
width: 64px;
z-index: 50;
height: 70px;
}

.bwbps-voting-bkg {
	background:transparent url(images/voting-bkg0.png) no-repeat;
}

.bwbps-voting-hover {
	background:transparent url(images/voting-bkg.png) no-repeat;
}

.bwbps-vote-data {
	padding-top: 6px;
}

div.bwbps-vote-total {
	font-size: 16px;
}

span.bwbps-vote-total {
	margin-left: 10px;
}

.bwbps-vote-info {
	padding-top: 4px;
	font-size: 9px;
	line-height: 1.1em;
}
.bwbps-vote-links {
	padding-top: 3px;
}

.bwbps-vote-small {
	font-size: 8px !important;
	width: 58px;
	height: 17px;
	overflow: hidden;
}
