/*
    This file is part of Seo Friendly Table of Contents.

    Seo Friendly Table of Contents is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Seo Friendly Table of Contents is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Seo Friendly Table of Contents.  If not, see <http://www.gnu.org/licenses/>.

 */

#toc{
 background-color: #f8f8ec;
 border: 1px solid #f0f0f0;
 width:250px;
 margin: 0 auto 0 0;
}

#toc_title{
	font-weight:bold;
	text-align:center;
	font-size:110%;
}

#toc a{
	text-decoration: none;
	color:#4e4e4e;
}

#toc a:visited, #toc a:active{
	text-decoration: none;
	color:#4e4e4e;	
}

#toc a:hover{
	text-decoration: underline;
	color:#000;
}

/*

/**
* Think about inherence.. 
*/
#toc ul{

}

#toc ul ul{

}

#toc ul ul ul{

}

#toc ul ul ul ul{

}

#toc ul li{

}

#toc ul ul li{

}

#toc ul ul ul li{

}

#toc ul ul ul ul li{

}